.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

